body {
	width: 30%;
	margin: 0 auto;
}
th {
	width: 15%;
	height: 4vw;
	background-color: gray;
	color: white;
	font-size: 1.2vw;
}
td {
	width: 15%;
	height: 5vw;
	text-align: center;
	font-size: 1.5vw;
}

img {
	width: 100%;
	height: 100%;
}

caption {
	font-size: 2vw;
	color: blue;
}

#button1 {
position: relative;
top: 50px;

}

#cold {
	background-color: blue;
	color: white;
}

#moderate {
	background-color: green;
	color: white;
}

#hot {
	background-color: red;
	color: white;
}

@media screen and (max-width: 480px){
body {
	width: 100%;
}

th {
	width: 20%;
	height: 8vw;
	font-size: 15px;
}
td {
	width: 20%;
	height: 13vw;
	font-size: 20px;
}

caption {
	font-size: 6vw;
	color: blue;
}


}